*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  width: 1000px;
  margin: 20px auto;
}

.float-left{
  float: left;
}

main::after{
  content: "";
  display: table;
  clear: both;
}

body{
  background-image: url('../img/natural-pattern.png');
}

/* header */
header{
  background-color: grey;
  margin: 10px;
}

.header-top{
  height: 350px;
  width: 100%;
  background-image: url('../img/natural-header.jpg');
  border: 5px solid white;
  position: relative;
  text-align: center;
}

.header-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.header-image img{
  width: 50%;
  color: white;
  text-transform: uppercase;
}

.header-image h2{
color: white;
text-transform: uppercase;
}

nav{
  text-align: center;
  /* background-color: yellow; */
}

nav .menu li {
  display: inline-block;
  padding: 15px;
}

nav .menu a{
  text-decoration: none;
  color: white;
}

.menu li:hover{
  background-color: rgba(0, 0, 0, 0.10);
}

/* main */
main{
  margin: 10px;
  height: 800px;
  /* background-color: grey; */
}

main::after{
  content: "";
  display: table;
  clear: both;
}

.temi{
  width: 20%;
  background-color: white;
}

.logo-sx i{
  font-size: 50px;
  padding: 0 5px;
  color: orange;
  border-radius: 10px;
}

.menu-sx{
  list-style: none;
  padding: 5px;
  line-height: 1.6;

}

.menu-sx li a{
  text-decoration: none;
  color: rgb(33, 199, 89);
}

.menu-sx li:hover{
  text-decoration: underline;
}

.logo-sx{
  width: 30%;
  /* background-color: red; */
}

.text-sx{
  width: 70%;
  background-color: white;
}

.articoli{
  margin: 0 3%;
  width: 54%;
  /* height: 600px; */
  background-color: white;
}

h1{
  text-transform: uppercase;
  padding: 20px;
}

.articoli p{
  line-height: 1.6;
  padding: 20px;
}

.widgets{
  width: 20%;
}

.widget{
  margin-bottom: 20px;
  height: 250px;
  background-color: white;
}

.widgets .widget h2{
  padding: 15px;
}

.widgets .widget p{
  line-height: 1.6;
  padding: 15px;
}


/* fine main */

/* inizio footer */
footer{
  background-color: white;
  margin: 10px;
}

footer p{
  text-align: center;
  color: lightgrey;

}

footer hr{
  background-color: lightgrey;
}

.social{
  text-align: center;
}


.social-box{
  font-size: 30px;
  color: lightgrey;
  display: inline-block;
  width: calc(100% / 3);
}

/* fine footer */
/* end */
