*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  width: 1000px;
  margin: 20px auto;
}

.float-left{
  float: left;
}

body{
  background-image: url('../img/natural-pattern.png');
}

/* header */
header{
  height: 400px;
  background-color: grey;
  margin: 10px;
}

.header-top{
  height: 350px;
  width: 100%;
  background-image: url('../img/natural-header.jpg');
  border: 5px solid white;
  position: relative;
  text-align: center;
}

.header-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-image img{
  width: 50%;
  color: white;
  text-transform: uppercase;
}

.header-image h2{
color: white;
text-transform: uppercase;
}

nav{
  text-align: center;
  /* background-color: yellow; */
}

nav .menu li {
  display: inline-block;
  line-height: 20px;
  padding: 20px;
  height: 20px;

}

nav .menu a{
  text-decoration: none;
  color: white;
}

a:hover{
  background-color: rgba(0, 0, 0, 0.10);

}



/* main */
main{
  margin: 10px;
  height: 800px;
  /* background-color: grey; */
}

main::after{
  content: "";
  display: table;
  clear: both;
}

.temi{
  width: 20%;
  /* height: 250px; */
  background-color: white;
}

.logo-sx i{
  font-size: 50px;
  padding: 0 5px;
  color: orange;
  border-radius: 10px;
}

.menu-sx{
  list-style: none;
  padding: 5px;
  line-height: 1.6;
}

.logo-sx{
  width: 30%;
  height: 50px;
  /* background-color: red; */
}


.text-sx{
  width: 70%;
  height: 50px;
  background-color: white;
}

.articoli{
  margin: 0 3%;
  width: 54%;
  /* height: 600px; */
  background-color: white;
}

h1{
  text-transform: uppercase;
  padding: 20px;
}

.articoli p{
  line-height: 1.6;
  padding: 20px;
}



.widgets{
  width: 20%;
  height: 250px;
  background-color: pink;
}

.widget{
  margin-bottom: 20px;
  height: 250px;
  background-color: violet;
}



/* fine main */

/* inizio footer */
footer{
  height: 200px;
  background-color: yellow;
  margin: 10px;
}


/* end */
